@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Đã đăng xuất";
}

<hgroup>
    <h1 class="text-danger">Đã đăng xuất.</h1>
    <h2 class="text-danger">Tài khoản đã đăng xuất, vui lòng đăng nhập lại</h2>
</hgroup>
